.assignments {
	list-style-type: none;
	margin: 0;
	margin-top: 1.5em;
}

.assignments__title {
	font-weight: $global-weight-bold;
}

.assignments__top-bar--right {
	@extend .clearfix;
	button {
		float: right;
		margin-left: 0.3em;
	}
}

.assignment {
	background-color: $light-gray;
	border-radius: $global-radius;
	@extend .dropshadow;
	@extend .clearfix;
}

.assignment__titles {
	float: left;
	padding: 1em;
	width: 40%;
	.assignment__title {
		font-weight: $global-weight-bold;
	}
}

.assignment__detail {
	float: right;
	width: 40%;
	padding: 1em;
	text-align: right;
	ul {
		list-style-type: none;
		margin: 0;
		li {
			font-size: 0.9em;
		}
	}
	h4 {
		margin: 0;
	}
}
.assignment__set {
	font-weight: $global-weight-bold;
	color: $green;
}
.assignment__due {
	font-weight: $global-weight-bold;
	color: $red;
}

