.assignments {
	margin-top: 1.5em;
}

.assignments__title {
	font-weight: $global-weight-bold;
}

.assignments__top-bar--right {
	@extend .clearfix;
	button {
		float: right;
		margin-left: 0.3em;
	}
}

.assignment {
	background-color: $light-gray;
	border-radius: $global-radius;
	@extend .dropshadow;
}

.assignment__titles {
	padding: 1em;
	width: 40%;
	.assignment__title {
		font-weight: $global-weight-bold;
	}
}

.assignment__detail {
	width: 40%;
	padding: 1em;
	text-align: right;
	ul {
		list-style-type: none;
		margin: 0;
		li {
			font-size: 0.9em;
		}
	}
	h4 {
		margin: 0;
	}
	.assignment__set {
		font-weight: $global-weight-bold;
		color: $green;
	}
	.assignment__due {
		font-weight: $global-weight-bold;
		color: $red;
	}
}

.assignment__expand-button {
	float: left;
	width: 15%;
	text-align: center;
	border-left: 1px solid $dark-gray;
	height: 100%;
}




