.marking-playlist {
	padding-top: 1em;
}

.marking-playlist__title {
	h4 {
		font-weight: $global-weight-bold;
	}
}

.marking-playlist__dates {
	ul {
		list-style-type: none;
		margin: 0;
		li {

		}
	}
}
