@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	margin: 0;
	padding: 50px 0 0 0;
	overflow:hidden;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.main-wrapper {
  height:100%;
  overflow:auto;
}

.current-video {
  margin-bottom: 2em;
}
.current-video__comments {
  list-style-type: none;
  margin: 0.4em 0;
  li {
    color: $dark-gray;
    img {
      width: 1.4em;
    }
    span.time {
      color: $black;
      padding-right: 0.5em;
    }
  } 
}

.current-video__transcript {
  background-color: $light-gray;
  padding: 1em;
  margin: 0.8em 0;
  border-radius: $global-radius;
  h6 {
    font-weight: $global-weight-bold;
  }
}
.current-video__transcript .highlight {
    background-color: map-get($foundation-palette, primary);
  }


.marking-playlist {
  background-color: $medium-gray;
}
