.feedback {
  position: absolute;
  bottom: 0px;
  height: 230px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  background-color: $light-gray;
  padding: 10px;
  z-index: 100;
}


.user-embed {
  @extend .clearfix;
  margin: 0.8em 0;
  list-style-type: none;
  li {
    padding-right: 5px;
    float: left;
  }
  li.user-embed__name {
    color: $black;
    font-weight: $global-weight-bold;
  }
  li.user-embed__score,
  .user-embed__username {
    color: $dark-gray;
  }
}


.comment {
  position: relative;
  input {
    border-radius: $global-radius;
  }
  .comment__buttons {
    position: absolute;
    right: 0.6875em;
    top: 0.4375em;
    @extend .clearfix;
    list-style-type: none;
    margin: 0;
    li {
      float: left;
      padding-left: 0.4em;
      color: $medium-gray;
      img {
        width: 1.0em;
      }
    }
  }
}

.feedback__stickers {
  @extend .clearfix;
  list-style-type: none;
  margin: 1em 0;
  li {
    float: left;
    margin-right: 0.3em;
    img {
      width: 1.8em;
    }
    &:hover {
      cursor: pointer;
      img {
        opacity: 0.8em;
      }
    }
  }
}

.main-buttons {
  list-style-type: none;
  margin: 0;
  color: $white;
  font-weight: $global-weight-bold;
  li {
    background-color: map-get($foundation-palette, primary);
    padding: 0.8em 3em;
    border-right: 1px white solid;
    text-align: center;
    &:hover {
      cursor: pointer;
      opacity: 0.8em;
    }
  }
  li:first-child {
    border-top-left-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
  }
  li:last-child {
    border-right: none;
    border-top-right-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
  }
}
