.video-thumbnail {
	position: relative;
	margin-bottom: 1em;
	img {
		border-radius: $global-radius;
	}
	.video-thumbnail__play {
		position: absolute;
    top: 32%;
    left: 40%;
    i {
	    color: $light-gray;
	    font-size: 3.3em;
    }
	}
	&:hover {
		cursor: pointer;
		.video-thumbnail__play {
			opacity: 0.8;
		}
	}
}

.video-thumbnail--current {
	.video-thumbnail__play {
		display: none;
	}
}

