<div>
  <div class="row">
    <div class="column small-8 small-offset-2">
      <form action="/signup" method="post">
        <input type="text" name="user" placeholder="Username" />
        <input type="text" name="name" placeholder="Full Name" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" placeholder="Confim Password" />
        <input type="submit" />
        <input type="hidden" name="redirect" value="/index.html" />
      </form>
    </div>
  </div>
</div>
