<div>
  <style>
  body {
    padding-bottom: 230px;
  }
  </style>
  <div class="feedback">
    <div class="row">
      <div class="column small-8 small-offset-2">
        <ul class="user-embed">
          <li><img src="img/user-profile.png" alt=""></li>
          <li class="user-embed__name">{{user.name}}</li>
          <li class="user-embed__username">({{user.id}})</li>
          <li class="user-embed__score">| {{user.score}}</li>
        </ul>
        <form action="" ng-submit="addNote()">
          <div class="comment">
            <input type="text" placeholder="Write timed feedback" ng-model="noteText" bs-options="comment for comment in previousComments" bs-typeahead />
            <ul class="comment__buttons">
              <li><img src="img/comment-return.png" alt=""></li>
              <li class="comment__buttons__text">add comment at {{timestamp | timestamp}}</li>
              <li><img src="img/comment-voice.png" alt=""></li>
              <li><img src="img/comment-emoticon.png" alt=""></li>
            </ul>
          </div>
          <ul class="feedback__stickers">
            <li class="feedback__stickers__title">Add timed feedback:</li>
            <li><img src="img/sticker-1.png" alt="" ng-click="addSticker('sticker-1')"></li>
            <li><img src="img/sticker-2.png" alt="" ng-click="addSticker('sticker-2')"></li>
            <li><img src="img/sticker-3.png" alt="" ng-click="addSticker('sticker-3')"></li>
            <li><img src="img/sticker-4.png" alt="" ng-click="addSticker('sticker-4')"></li>
            <li><img src="img/sticker-5.png" alt="" ng-click="addSticker('sticker-5')"></li>
            <li><img src="img/sticker-6.png" alt="" ng-click="addSticker('sticker-6')"></li>
            <li><img src="img/sticker-7.png" alt="" ng-click="addSticker('sticker-7')"></li>
            <li><img src="img/sticker-8.png" alt="" ng-click="addSticker('sticker-8')"></li>
            <li><img src="img/sticker-9.png" alt="" ng-click="addSticker('sticker-9')"></li>
            <li><img src="img/sticker-10.png" alt="" ng-click="addSticker('sticker-10')"></li>
            <li><img src="img/sticker-11.png" alt="" ng-click="addSticker('sticker-11')"></li>
            <li><img src="img/sticker-12.png" alt="" ng-click="addSticker('sticker-12')"></li>
          </ul>
          <ul class="row main-buttons">
            <li class="column small-3 main-buttons__promote" ng-click="promoteVideo()">
              <img src="img/main-buttons__check.png" alt=""> Promote
            </li>
            <li class="column small-3 main-buttons__pass" ng-click="passVideo()">
              <img src="img/main-buttons__cross.png" alt=""> Pass
            </li>
            <li class="column small-3 main-buttons__fail" ng-click="failVideo()">
              <img src="img/main-buttons__promote.png" alt=""> Fail
            </li>
            <li class="column small-3 main-buttons__return" ng-click="returnVideo()">
              <img src="img/main-buttons__return.png" alt=""> Return
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="row">
      <div class="small-8 small-offset-2">
        <div class="current-video">
          <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" ng-attr-poster="{{video | thumbUrl}}" data-setup="{}" time-update ng-model="timestamp">
            <source ng-src="{{video | videoUrl}}" />
            <!-- TODO: Specify type -->
          </video>
          <div class="current-video__transcript">
            <span ng-repeat="chunk in transcript" ng-click="skipToChunk()" ng-class="{highlight: timestampInChunk()}"> {{chunk.content}} </span>
          </div>
          <ul class="current-video__comments">
            <li ng-repeat="note in notes | orderBy:'timestamp'">
              <span class="time" ng-click="skipTo()">{{note.timestamp | timestamp }}</span>
              <img ng-show="note.sticker != ''" ng-src="img/{{note.sticker}}.png" alt="">
              <span>{{note.note}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="marking-playlist">
      <div class="row">
        <div class="small-10 small-offset-1">
          <div class="row">
            <div class="small-6 column marking-playlist__title">
              <h4>{{assignment.summary}}</h4>
              <p>{{assignment.detail}}</p>
            </div>
            <div class="small-6 column marking-playlist__dates">
              <ul>
                <li class="text-right">
                  set: <span class="assignment__set">{{assignment.setDate | date }}</span>
                </li>
                <li class="text-right">
                  due: <span class="assignment__due">{{assignment.dueDate | date }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="row small-up-4">
            <div ng-repeat="video in assignment.videos | sortVideos" class="column video-thumbnail">
              <img ng-src="{{video.id | thumbUrl}}" ng-click="switchTo()" />
              <div class="video-thumbnail__play">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="vendor/foundation.min.js"></script>
<script>
// Once the video is ready
_V_("example_video_1").ready(function() {

  // Store the video object
  var myPlayer = this;
  // Make up an aspect ratio
  var aspectRatio = 720 / 1280;

  function resizeVideoJS() {
    var width = document.getElementById(myPlayer.id).parentElement.offsetWidth;
    myPlayer.width(width).height(width * aspectRatio);

  }

  // Initialize resizeVideoJS()
  resizeVideoJS();
  // Then on resize call resizeVideoJS()
  window.onresize = resizeVideoJS;

});
</script>
</div>
